{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

	<section class="contact-header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="text-center">
						<h3>Contact Us Now</h3>
						<h2>Keep <span>in Touch</span></h2>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="jumbotron contact-form">
		<div class="container">
			<h3>Contact Us</h3>
			<h2>Keep In Touch <span>With Name</span></h2>
			<br><br><br><br>
			
			<form action="" method="post">
				{% csrf_token %}
				
				{{ form.name|as_crispy_field }}
				{{ form.address|as_crispy_field }}
				
				<div class="row">
					<div class="col-sm-6">
						{{ form.state|as_crispy_field }}
					</div>
					
					<div class="col-sm-6">
						{{ form.country|as_crispy_field }}
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-6">
						{{ form.mobile|as_crispy_field }}
					</div>
					
					<div class="col-sm-6">
						{{ form.email|as_crispy_field }}
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-6">
						{{ form.org|as_crispy_field }}
					</div>
					
					<div class="col-sm-6">
						{{ form.title|as_crispy_field }}
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12">
						{{ form.message|as_crispy_field }}
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-1"></div>
					
					<div class="col-sm-4">
						<button type="submit" class="btn btn-primary" style="width:100%"><i
								class="fa fa-database"></i>&nbsp;&nbsp;&nbsp;&nbsp;Submit</button>
					</div>
					
					<div class="col-sm-2"></div>
					
					<div class="col-sm-4">
						<button type="reset" style="width:100%" class="btn btn-secondary" ><i class="fa fa-trash-restore-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Reset</button>
					</div>
					
					<div class="col-sm-1"></div>
				</div>
			</form>
		</div>
	</section>
{% endblock %}